.sidebar-div{
    position: relative;
    top:125px;
    right:35px;
    // margin-top: -130px;
    // border: 1px solid red;
    //  height: 50rem;
    height: 100%;
}
.css-11o2879-MuiDrawer-docked .MuiDrawer-paper{
margin-top: 60px;
}