// .head-main
header{
    display:flex;
    justify-content:space-between;
    margin-top:2px;
    border-bottom: 0.1px solid grey;
    align-items: center;
    height: 60px;
    

    .left-head{
        display: flex;
        // border:1px solid gray;
        justify-content: space-between;
        // justify-items: center;
        align-items: center;
    }
    
    .right-head{
        display: flex;
    }

}

.search-bar{
    display: flex;
    align-items: center;
    width: 686px;
    height: 35px;
    border:1px solid rgb(235, 228, 228);
    border-radius: 10px;
    
   
}