.main-div {
  margin: 0;
  overflow: hidden;
  // border: 1px solid gray;
  padding-bottom: 10px;

  .closebtn {
    display: flex;
    float: right;
    margin-bottom: 0px;
    margin-right: 25px;
    color: gray;
    // text-transform:none;
    text-transform: lowercase;
    font-size: 16px;
  }
  .inputText {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    overflow: hidden;
  }

  .main-desc-box {
    display: flex;
    border-radius: 10px;
    // border:1px solid red
  }
}
