.parentDiv {
  display: flex;
  position: relative;
  justify-content: space-between;
  left: 200px;
  
  height: 70vh;
  width: 80vw;
  flex-wrap: wrap;
  // border: 1px solid red;
  // overflow:hidden;
}
.noteDiv {

  // border: 1px solid blue;
  // background-color: powderblue;
  height: 150px;
  border-radius: 5px;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.textTitle {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 14px;
}

.textDesc {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 14px;
}
.iconbtn {
  margin-top: 20px;
  display: flex;
}
