.parentDiv {
  margin-top: 10px;
  display: flex;
  position: relative;
  justify-content: center;
  justify-content: space-between;
  left: 200px;
  width: 80vw;
  flex-wrap: wrap;
}
.noteDiv {
  height: 150px;
  border-radius: 5px;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}
.textTitle {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 14px;
}

.textDesc {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 14px;
}
.iconbtn {
  margin-top: 20px;
  display: flex;
}

.closebtn {
  float: right;
}

.inputText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 15px;
  border: none;
}
