body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.mainDiv {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 400px;
  padding: 3rem;
  border: 1px solid;
  border-color: darkgray;
  border-radius: 0.5rem;
  text-align: center;
}

.FundooIcon {
  font-size: 2em;
  color: royalblue;
}
.input-Fs {
  margin-bottom: 10px;
}

#outlined-basic {
  width: 320px;
}
h1 {
  font-size: 24px;
  font-weight: 400px;
}

h3 {
  color: #202124;
  font-size: 16px;
  font-weight: 300px;
}
.forget {
  /* border:1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 10px;
}

.forgot-email {
  margin-top: 10px;
  margin-bottom: 10px;
}
.signup {
  /* border:1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

p {
  font-size: 13px;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
}

.text a {
  display: flex;
  font-size: 13px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  // body {
  //   background-color: lightblue;
  // }
  .mainDiv {
    width: 280px;
    min-height: 350px;
    // border: none;
    margin-left: -15px;
  }
  #outlined-basic{
    width: 250px;
  }
}
